.pagination {
    position: absolute;
    left: 50%;
    bottom: 11px;
    transform: translateX(-50%);
    max-width: 350px;
    background-color: #fff;
    display: flex;
    width: 100%;

    button {
        flex: 1;
        height: 30px;
        color: #555;
        margin: 0 2px;
        font-weight: 700;
        border-radius: 6px;

        &:first-child {
            margin-left: 4px;
        }

        &:last-child {
            margin-right: 4px;
        }

        &.active {
            color: #9dc0e8;
        }
    }
}