.todos {
    overflow: auto;

    .todo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #f2f2f2;
    }

    .content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        .todo_checkbox {
            transform: scale(2.5) translateY(1px);
            margin-left: 10px;
        }

        label {
            font-size: 16px;
            margin-left: 20px;
            width: 100%;
            line-height: 24px;
        }

        .todo_input {
            display: none;
            font-size: 16px;
            margin-left: 20px;
            line-height: 24px;
            width: 100%;
            font-weight: 700;
        }
    }

    .item_buttons {
        display: flex;
        margin-left: 4px;
        button {
            width: 42px;
            height: 42px;
            color: #555;
            font-size: 14px;
            border-radius: 8px;

            &:first-child {
                background-color: #bad4f5;
            }
            & + button {
                margin-left: 4px;
            }
        }
    }

    .edit_buttons {
        display: none;
    }
}
