.wrap {
    position: relative;
}

.title {
    text-align: center;
    font-size: 32px;
    padding: 17px 0;
}

.carousel {
    position: relative;
    overflow: hidden;
}

.item {
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 0;
    transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
}

.item.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}

.item.prev, .item.next {
    z-index: 800;
}

.item.prev {
    transform: translateX(-100%);
}

.item.next {
    transform: translateX(100%);
}

.dots {
    position: absolute;
    display: flex;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.276);
}

.dot.active {
    background-color: #fff;
}

.dot:not(:first-child) {
    margin-left: 15px;
}

.button_container {
    display: flex;
    margin-top: 17px;
    justify-content: space-around;
}

.carousel_button {
    font-size: 30px;
    height: 50px;
    width: 200px;
    background-color: #f6e58d;
    border: 4px solid #555;
    border-radius: 10px;
    cursor: pointer;
}
